<h1>{{title}}</h1>
<p>Federated Wiki Feeds is a utility to generate <a href="https://cyber.harvard.edu/rss/rss.html">RSS 2.0 feeds</a> and <a href="http://opml.org/spec2.opml#subscriptionLists">OPML subscription lists</a> from <a href="https://github.com/fedwiki/wiki">Federated Wikis</a>.</p>

<h2>RSS 2.0 Feeds</h2>
<p>To generate an RSS 2.0 feed from a Federated Wiki simply navigate to <code>{{docroot}}/{wikidomain}/rss.xml</code>.</p>

<h3>Example Feeds</h3>
<ul>
    <li><a href="{{docroot}}/andrew.shll.wiki/rss.xml">{{docroot}}/andrew.shll.wiki/rss.xml</a></li>
    <li><a href="{{docroot}}/marc.tries.fed.wiki/rss.xml">{{docroot}}/marc.tries.fed.wiki/rss.xml</a></li>
    <li><a href="{{docroot}}/wellspring.fed.wiki/rss.xml">{{docroot}}/wellspring.fed.wiki/rss.xml</a></li>
</ul>

<h2>Peer Subscription Lists & Rivers</h2>
<p>I generate subscription lists and rivers for peers of a wiki defined by the <a href="http://ward.dojo.fed.wiki/view/about-present-plugin">preset plugin</a>.</p>
<p>You can generate a river a wiki's peers by navigating to <code>{{docroot}}/{wikidomain}/peers.html</code>.</p>

<h3>Example Peer River for <a href="http://ward.dojo.fed.wiki/">ward.dojo.fed.wiki</a></h3>
<ul>
    <li><a href="{{docroot}}/ward.dojo.fed.wiki/peers.opml">Peers subscription list</li>
    <li><a href="{{docroot}}/ward.dojo.fed.wiki/peers.html">Peers River</a></li>
    <li><a href="{{docroot}}/ward.dojo.fed.wiki/peers.json">Peers JSON source</a></li>
    <li><a href="{{docroot}}/ward.dojo.fed.wiki/peers.js?callback=getRiver">Peers JSONP source</a></li>
    <li><a href="{{docroot}}/ward.dojo.fed.wiki/peers.csv">Peers CSV source</a></li>
</ul>

<h2>Roster Subscription Lists & Rivers</h2>
<p>I generate subscription lists and rivers for subsets of wikis defined by a <a href="http://fed.wiki/view/about-roster-plugin">roster</a>.</p>
<p>To generate a river from a roster simply navigate to  <code>{{docroot}}/{wikidomain}/{page}/roster.html</code>.</p>

<h3>Example Roster River for <a href="http://dojo.fed.wiki/view/wiki-writing-workshop">dojo.fed.wiki/wiki-writing-workshop</a></h3>
<ul>
    <li><a href="{{docroot}}/dojo.fed.wiki/wiki-writing-workshop/roster.opml">Roster subscription list</li>
    <li><a href="{{docroot}}/dojo.fed.wiki/wiki-writing-workshop/roster.html">Roster River</a></li>
    <li><a href="{{docroot}}/dojo.fed.wiki/wiki-writing-workshop/roster.json">Roster JSON source</a></li>
    <li><a href="{{docroot}}/dojo.fed.wiki/wiki-writing-workshop/roster.js?callback=getRiver">Roster JSONP source</a></li>
    <li><a href="{{docroot}}/dojo.fed.wiki/wiki-writing-workshop/roster.csv">Roster CSV source</a></li>
</ul>

<h2>All Feeds Subscription Lists & River</h2>
<p>I generate subscription lists and rivers with all feeds and updates.</p>
<ul>
    <li><a href="{{docroot}}/river.opml">All feeds subscription list</li>
    <li><a href="{{docroot}}/activefeeds.opml">All feeds active in the last week subscription list</li>
    <li><a href="{{docroot}}/river.html">Federated Wiki River</a></li>
    <li><a href="{{docroot}}/river.json">All Feeds River JSON source</a></li>
    <li><a href="{{docroot}}/river.js?callback=getRiver">All Feeds River JSONP source</a></li>
    <li><a href="{{docroot}}/river.csv">All Feeds River CSV source</a></li>
</ul>

<h2>Source Code and Issues</h2>
<p>The code for this project is hosted on GitHub at <a href="https://github.com/andrewshell/fedwikifeeds">https://github.com/andrewshell/fedwikifeeds</a>.</p>
<p>If you run across any problems, please <a href="https://github.com/andrewshell/fedwikifeeds/issues">Submit an Issue</a>.</p>
